#myBtn{
    height: 50%;
    width: 25%;
    background-color: goldenrod;
    color: blue;
    align-self: center;
    padding: 5px;
    font-size: x-large;
}

.jumbotron{
    background-color: darkblue;
}

#timer{
    height: auto;
    width: auto;
    background-color: black;
    color: white;
    font-size: x-large;
    box-shadow: black;
    align-self: center;
    text-align: center;
    position:fixed;
    top: 245px;
    right: 10px;
}

#highScores{
    height: auto;
    width: Auto;
    position: absolute;
    top: 250px;
    left: 10px;
    background-color: chartreuse;
    align-items: center;
    text-align: center;
}

#quiz-section{
    height: auto;
    width: auto;
}

li {
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 2px;
    font-size: 1.em;
    line-height: 1.5; 
}

li::before{
    content: "\200B";
    position: absolute;
}

li::after{
    content: " ";
    display: block;
    clear: both;
}



#currentScore{
    align-self: flex-end;
    align-items: center;
    height: 50%;
    width: 12%;
}

#quiz-section form{
    /* padding-bottom: 5px; */
    font-size: x-large;
    box-shadow: black;
    align-self: center;
    text-align: center;
    align-content: center;

    
}